/* Class names prefixes */
/* Colors / Theme */
/* Dark theme */
/* Light: #573454 Dark: #3b2639 -moz-linear-gradient(top, #fca99b 0%, #6e2842 100%) */
/* l: #d8d7db */
/* Light theme
$mainColor:         #fff;
$fontColor:         #9299a3;
$fontColorActive:   #4f8ef7;
*/
/* darken($mainColor, 4%) - #383838 */
/* #515151 */
/* Color Helpers */
/* Canvas */
/* Components / Inputs */
/* #d5d5d5 */
/* b1b1b1 */
/* #252525 */
/* 303030 */
/* Class manager */
/* File uploader */
/* Commands */
/* Fonts */

